@charset "utf-8";
/*
   Exercise 05_03
   Style Sheet for Grids used in the Pandaisia Chocolates website
   Author: Patrick J Clawson, M.Ed.
   Date:   9.15.17

   Filename: pc_grids.css

*/


/* Grid Rows Styles */




/* Grid Columns Styles */




/* Grid Outline Styles */
